.main-background {
  position: relative;
  height: 100%;
  background: #dee0f2;
}

.main-left-background {
  width: 40%;
  height: 100%;
  background-color: #9392c1;
}

.profile-card {
  position: absolute;
  height: 32rem;
  width: 55rem;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.profile-card {
  display: flex;
}
.profile-card .profile-left {
  background: #c3c2f9;
  flex: 0.8;
}
.profile-card .profile-text {
  flex: 1;
  background: white;
}

.profile-left {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.profile-circle {
  border-radius: 50%;
  width: 12rem;
  height: 12rem;
  margin-bottom: 2rem;
}
.profile-name {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 1rem 0;
}
.profile-text {
  padding: 2.5rem 1.5rem;
  display: flex;
  flex-direction: column;
}
.profile-text p:nth-child(1) {
  font-size: 1.3rem;
  font-weight: 600;
  padding: 1rem 2rem;
  border-bottom: 1px solid #4b4a7254;
}

.profile-text p:nth-child(2) {
  font-size: 1rem;
  font-weight: 400;
  padding: 1rem 2rem;
  text-align: left;
  flex: 1;
}
.contact-info {
}
.contact-info > a {
  margin-right: 0.75rem;
  cursor: pointer;
}
